<%= simple_form_for @log, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :device_id %>
  <%= f.input :actual_ip_address %>
  <%= f.input :actual_port %>
  <%= f.input :message_type %>
  <%= f.input :message_data %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                logs_path, :class => 'btn' %>
  </div>
<% end %>
