<%- model_class = Log -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:product_id) %></th>
      <th><%= model_class.human_attribute_name(:actual_ip_address) %></th>
      <th><%= model_class.human_attribute_name(:actual_port) %></th>
      <th><%= model_class.human_attribute_name(:message_type) %></th>
      <th><%= model_class.human_attribute_name(:message_data) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.product_id %></td>
        <td><%= log.actual_ip_address %></td>
        <td><%= log.actual_port %></td>
        <td><%= log.message_type %></td>
        <td><%= log.message_data %></td>
        <td><%=l log.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
